html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}
#pond{
    position: relative;
}

#sky {
    width: 100%;
    height: 105vh;
    min-height: 100vh;
    position: relative;
}
 #background{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    z-index: 1;
 }
#water {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 300px;
    width: 100%;
    border: solid;
}

*{
    box-sizing: border-box;
}

#underwater {

    height: 950px;
    position: relative;
    background: linear-gradient(
        to bottom,
        #b9d6e5 0%,
        #608b9a 30%,
        #387fa0 65%,
        #104365 100%,
        #001c29 100%
    );
}
#underwater img{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
}

#addfish{
    position: absolute;
    right: 40px;
    bottom: 250px;
    z-index: 999;
    background: none;
    border: none;
    cursor: pointer;
}

#addfish img{
    height: 50px;
    width: 70px;
}

#birdsimg {
    position: absolute;
    width: 200px;
    height: auto;
    left: 200px;
    top: 70px;
    z-index: 20;
    
}